/* index.css */
body {
  font: 14px "Arial", sans-serif;
  margin: 20px;
  background-image: url(/src/img/vecteezy_minimal-geometric-gradient-background-abstract-dynamic_25417514.jpg);
  background-size: 100% 100vh;
  display: flex;
  justify-content: center;
  margin-top: 7rem;
}

ol {
  padding-left: 30px;
}

.game {
  display: flex;
  flex-direction: row;
  background-color: transparent;
}

.game-info {
  margin-left: 20px;
  background: transparent;
}

.Square {
  background: transparent;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 6rem;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 6rem;
}

.Square:focus {
  outline: none;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}


.moves {
  background-color: transparent;
}

.App-header {
  color: rgb(40, 203, 187);
  display: flex;
  justify-content: center;
}

.game-header {
  color: rgb(40, 203, 187);
}

.game-moves {
  color: rgb(40, 203, 187);
}

.reset-game{
  border: none;
  padding: 10px;
  background: transparent;
  color: rgb(40, 203, 187);
  font-size: 25px;
  cursor: pointer;
  margin-top: 1rem;
}

.reset-game-parent {
  display: flex;
  justify-content: center;
}