.fa-solid {
  margin-right: 8px;
}

.fa-brands {
  margin-right: 8px;
}

.contact-info-section-top {
  position: relative;
  top: 10rem;
  display: flex;
  justify-content: center;
  color: #519872;
  font-size: 1.5rem;
}

.contact-info-section-bottom {
  position: relative;
  top: 10rem;
  display: flex;
  justify-content: center;
  color: #519872;
  font-size: 1.5rem;
}

.contact-info-section-hyprlnk{
  color: #519872;
  text-decoration: none;
  padding-left: 4px;
  font-size: 1.5rem;
}

.contact-box {
  max-width: 80%;
  margin: 15rem auto;
  padding: 20px;
  border: 1px solid #3B5249;
  border-radius: 5px;
  background-image: url(/website/img/vecteezy_cyber-network-protection-future-technology-background_.jpg);
  background-size: 100%;
}

.contact-header {
  font-family: fantasy;
  color: #A4B494;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  font-family: fantasy;
  color: #A4B494;
}

input[type="text"],
input[type="email"],
textarea {
  width: 95%;
  padding: 10px;
  border: 1px solid #3B5249;
  border-radius: 4px;
  background-color: transparent;
  color: transparent;
}

.button {
  border-radius: 1000px;
  background-color: transparent;
  color: #A4B494;
  border: none;
  margin-top: 15px;
  padding: 5px;
  cursor: pointer;
  font-family: fantasy;
  box-shadow: 0 0 10px 1px #3B5249;
}

.button:hover {
  background-color: rg;
}
