.project-buttons {
  border-radius: 1000px;
  background-color: transparent;
  color: #A4B494;
  border: none;
  margin-top: 15px;
  padding: 5px;
  cursor: pointer;
  font-family: fantasy;
  box-shadow: 0 0 10px 1px #3B5249;
}

.projects-text {
  color: #A4B494;
  font-family: fantasy;
}

.projects-page-header {
  margin-top: 6rem;
  color: #519872;
  font-family: fantasy;
  text-indent: 0;
}

.projects-body {
  margin-right: 10%;
  margin-left: 10%;
  text-indent: 0.5in;
}